@{
    ViewData["Title"] = "NASA Data Fetch";
}

<h2>Fetch Data from NASA API</h2>

<form asp-controller="NASA" asp-action="GetPicture" method="get">
    <label for="date">Date:</label>
    <input type="date" id="date" name="Date">

    <label for="count">Count:</label>
    <input type="number" id="count" name="Count">

    <label for="thumbs">Thumbs:</label>
    <input type="checkbox" id="thumbs" name="Thumbs">

    <label for="ApiKey">API Key (optional):</label>
    <input type="text" id="ApiKey" name="ApiKey">

    <input type="submit" value="Fetch Data">
</form>

<div class="p-5 rounded-3">
    <div class="card-header mt-5 mb-5 shadow-lg"> Search for an image in local db.
        <form asp-controller="FetchDbData" asp-action="GetPicture" method="get" class="mb-3">
            <label for="date">Date:</label>
            <input type="date" id="date" name="Date" />

            <button type="submit" class="btn btn-primary rounded-3"><strong>Fetch image</strong></button>
        </form>
    
        <a asp-controller="FetchDbData" asp-action="GetAllPictures" class="btn btn-primary mt-4 ">Fetch all data</a>
    </div>
        
</div>