@model IEnumerable<Picture>

<table class="table table-striped rounded-3 shadow-lg">
	<thead class="thead-dark">
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Date</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var picture in Model)
		{
			<tr>
				<td>@picture.Id</td>
				<td>@picture.Title</td>
				<td>@picture.Date</td>
				<td>
					<form asp-controller="FetchDbData" asp-action="GetPicture" method="get" class="pb-4">
						<input type="hidden" name="Date" value="@picture.Date" />
						<button type="submit" class="btn btn-secondary rounded-2"><strong>Display Record</strong></button>
					</form>
				</td>
			</tr>
		}
	</tbody>
</table>