@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center shadow-lg bg-light">
    <p class="h1">Welcome to NASA API Fetcher!</p>
    <br />
    <br />
    <p class="h3">This app  uses the NASA API to fetch the Astronomy Image of the day! </p>
</div>
<a asp-controller="NASA" asp-action="Index" class="btn btn-dark rounded-3 mt-3">Search Image</a>
